{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-md-center text-center">
        <div class="col-6 justify-content-center forefront">
            <h4>{{g.character.name}} {% if g.character.race_completed %}{{g.character.race.capitalize()}}{% endif %} {% if g.character.character_class_completed %}{{g.character.character_class.capitalize()}}{% endif %}</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Class</th>
                        <td>{{ class_details['name'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Hit Die</th>
                        <td>{{ class_details['hit_die'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Proficiencies</th>
                        <td>
                            {% for prof in class_details['proficiencies'] %}
                            {% if 'Saving' not in prof['name'] %}
                            - {{ prof['name'] }}  
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Saving Throws</th>
                        <td>
                            {% for st in class_details['saving_throws'] %}
                            - {{ st['name'] }} 
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Starting Equipment</th>
                        <td>
                            {% for equip in class_details['starting_equipment'] %}
                            - {{ equip['equipment']['name'] }}, {{ equip['quantity']}} 
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-6 col-md-6 col-sm-6 justify-content-center forefront pb-3">
            <form method="POST">
                <h3>Proficiency Choices</h3>
                {% if g.character.proficiencies_completed %}
                <p><b>
                    Chosen proficiences: 
                    {% for prof in current_profs %}
                        {{prof}}{% if loop.index != current_profs|length %},{% endif %} <!--leave space here-->
                    {% endfor %}
                </p></b>
                {% endif %}
                {% for prof in class_details['proficiency_choices'] %}
                {% set prof_loop = loop %}
                <div class="row justify-content-md-center">
                    <div class="col justify-content-center">
                        <p>{{ prof['desc'] }}</p>
                        {% for i in range(prof['choose']) %}
                        <div class="row justify-content-md-center mt-2">
                            <select name="{{prof_loop.index}}-{{i}}" class="form-select col-6 text-center">
                                <option selected>-Choose-</option>
                                {% for option in prof['from']['options'] %}
                                <option value="{{option['item']['index']}}">{{option['item']['name']}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}  
                    </div>
                </div>
                {% endfor %}
                <div class="row justify-content-center mt-3">
                    <div class="col">
                        <a href="/new-character-class" class="btn btn-secondary btn-lg btn-block" >back</a>
                    </div>
                    <div class="col-9">
                        <button type="submit" class="btn btn-success btn-lg btn-block">next</button> 
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}